<a href="https://colab.research.google.com/github/atyanshv/OS-Lab/blob/main/python_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First pyton program

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

program for printing the square of natural number from 1 to 10

In [3]:
for i in range(1, 11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

count the number of spaces in a string

In [4]:
my_string = "My name is gustavo but you can call me gus"
num_spaces = my_string.count(' ')
print("Number of spaces in the string:", num_spaces)

Number of spaces in the string: 9

counting the number of 6 in range of 1 to 1000

In [5]:
count = 0
for i in range(1, 1001):
    count += str(i).count('6')
print(count)

300

find the number that are divisible by 2 and 5

In [6]:
start =start = 1
end = 100

for i in range(start, end+1):
    if i % 2 == 0 and i % 5 == 0:
        print(i)
 1
end = 1000

for i in range(start, end+1):
    if i % 2 == 0 and i % 5 == 0:
        print(i)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990
1000

print the table of 5

In [7]:
for i in range(1, 50):
    print("5 x", i, "=", 5*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75
5 x 16 = 80
5 x 17 = 85
5 x 18 = 90
5 x 19 = 95
5 x 20 = 100
5 x 21 = 105
5 x 22 = 110
5 x 23 = 115
5 x 24 = 120
5 x 25 = 125
5 x 26 = 130
5 x 27 = 135
5 x 28 = 140
5 x 29 = 145
5 x 30 = 150
5 x 31 = 155
5 x 32 = 160
5 x 33 = 165
5 x 34 = 170
5 x 35 = 175
5 x 36 = 180
5 x 37 = 185
5 x 38 = 190
5 x 39 = 195
5 x 40 = 200
5 x 41 = 205
5 x 42 = 210
5 x 43 = 215
5 x 44 = 220
5 x 45 = 225
5 x 46 = 230
5 x 47 = 235
5 x 48 = 240
5 x 49 = 245